@charset "utf-8";
body {
	 background-image: url(../images/patterns/dark_wood.png); background-position: initial initial; background-repeat: initial initial;
}
 
#centerBox {
  margin-left:auto;
  margin-right:auto;
  max-width:70%;	  
} 
 
#chatRoomSection {
	display: block;
	height: 450px;
	overflow: auto;
  border-bottom: 1px solid #999999;
	width: 98%;
	margin: 10px;
  padding-bottom: 15px;
  background: transparent;
}

/* defines styles for each card */
.card {
position: absolute;
-webkit-transition: all 3s ease-out;
	border: 1px solid #999;
  border-radius: 15px;
	margin-bottom: 10px;
	position: absolute;
	top: 150px;

}

.front {
background: #999999;
z-index: 10;
width: 100%;
height: 100%;


}
.back {
background: #ffffff;
-webkit-transform: rotate3d(0,1,0,-180deg);
z-index: 8;
width: 100%;
background-image: url(../images/patterns/lined_paper.png); background-position: initial initial; background-repeat: initial initial;
}

#backChatContainer {

}

/* rotate the applied DOM element 90 degree */
.rotateRight {
-webkit-transform: rotate3d(0,0,1,90deg);
}
/* move and scale up the applied DOM element */
.moveAndScale {
-webkit-transform: translate3d(150px,150px,0) scale3d(1.5, 1.5,
1);
}

/* Define the 3D perspective view and dimension of each card. */
.card {
-webkit-perspective: 600;
width: 70%;
height: 650px;
}

.face {
border-radius: 10px;
position: absolute;
-webkit-transition: all .6s;
-webkit-backface-visibility: hidden;
}

.card-flipped .front {
-webkit-transform: rotate3d(0,1,0,180deg);
z-index: 8;
}
.card-flipped .back {
-webkit-transform: rotate3d(0,1,0,0deg);
z-index: 10;
}

#chat_log {
	list-style: none;
	bottom: 0px;
}

#loginSection {
	margin-left:auto;
  margin-right:auto;
  max-width:250px;	
}



#messageInput {
  position:absolute;
	top: 550px;
  width: 100%; 
  height: 35px;
  margin-top: 15px; 
}
input#chat_box {
	width: 70%;
  height: 25px;
  border: inset 1px gray;
  margin-left: 10px;
}
#sendButton {
  margin-left: 10px;
  width: 130px;
  height: 28px;
	background-image: url("../images/old_images/send_over.png");  
}

.iconImage{
  margin-left: 5px;
}